#back_canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100% 100%;
}

.bottom {
    width: 100%;
    height: 40px;
    bottom: 0px;
    float: left;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    position: relative;
}

a {
    color: #000;
}

.bottom_info {
    float: right;
    line-height: 40px;
    color: #000;
    margin: 0 30px;
    font-size: 13px;
    font-weight: 500;
}

a:hover {
    color: #618eba;
}

.time_box {
    width: 100%;
    height: 60px;
    font-size: 12px;
    float: left;
}

.time_text {
    margin: 5px 5%;
}

.side_lift {
    float: left;
    width: 100%;
    max-width: 300px;
    overflow-y: auto;
}

.user_main {
    width: 100%;
    height: 180px;
    background-color: #fff;
    float: left;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.background_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.bulletin {
    width: 99%;
    min-height: 120px;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #c0c4cc;
}

.content_text {
    margin: 10px;
    font-size: 16px;
}

.show_left {
    float: left;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    position: absolute;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.7);
    right: 0;
    margin-top: 48px;
    overflow-y: auto;

}

.show_left::-webkit-scrollbar {
    width: 0 !important;
}

.show_more {
    background-size: cover;
    float: right !important;
    width: 46px;
    height: 48px;
    margin: 0 1%;
}

.top {
    width: 100%;
    height: 46px;
    box-shadow: 0 1px 3px #E0E0E0;
    position: fixed;
    top: 0px;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.5);

}

.article_other_text {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    float: left;
}

.show_article {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e5e9ef;
    margin-bottom: 20px;
}

.comment {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-bottom: 0px;
    position: relative;
}

.comment_main {
    width: 90%;
    margin: 20px 5% 0;
    border-bottom: 1px solid #e5e9ef;
}

.comment_time {
    color: rgb(153, 162, 170);
    font-size: 12px;
}

.comment_author {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}

.comment_name, .comment_time {
    float: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    margin: 0 !important;
    padding: 0 !important;
}

.comment_info {
    width: 50%;
    height: 60px;
    float: left;
    margin-left: 2%;
    text-align: left;
    overflow: hidden;
}

.comment_reply:hover {
    color: rgb(0, 161, 214);
}

.comment_reply {
    width: 20%;
    height: 60px;
    line-height: 60px;
    float: right;
    color: rgb(153, 162, 170);
    text-align: right;
}

.comment_son {
    width: 70%;
    margin: 20px auto 0;
    border-bottom: 1px solid #e5e9ef;
}

.comment_info_box {
    width: 100%;
    height: 60px;
}

.comment_info_box_son {
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.comment_information {
    width: 80%;
    margin: 20px auto;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px !important;
}

.comment_information_son {
    width: 80%;
    margin: 2% auto 0;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px !important;
}

.input_info {
    width: 45%;
    float: left;
}

.hair_comment {
    width: 100%;
    line-height: 20px;
    margin: 1vw 0;
    float: left
}

.publish_box {
    margin: 2% 0;
    display: inline-block;
    width: 100%;
}

.reply_box_fixed {
    width: 100%;
    min-height: 280px;
    background-color: #fff;
    position: relative;
    border: 1px solid #e5e9ef;
}

.box_fixed {
    position: relative;
    z-index: 1;
    margin: 0 10%;
    width: 80%;
    background-color: #fff;
}

.reply_box {
    width: 80%;
    padding: 0 10%;
    height: 240px;
    background-color: #fff;
    position: absolute;
    z-index: 100000
}

.article_other {
    width: 100%;
    margin: 20px 0;
    height: 60px;
    background-color: #fff;
}

.article_other_img:hover {
    background-image: url("https://cdn.jsdelivr.net/gh/sxiaoy/css_img/image/hits_hover.png");
}

.article_other_img {
    background-image: url("https://cdn.jsdelivr.net/gh/sxiaoy/css_img/image/hits.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    float: left;
    margin: 10px;
}

.content_book {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    float: left;
    margin-left: 3%;
}

.span_info {
    font-size: 13px;
    line-height: 30px;
    margin-left: 3%;
    float: left;
}

.book_top {
    width: 100%;
    float: left;
    height: 30px;
    overflow: hidden;
}

.book_info {
    width: 68%;
    float: left;
    height: 130px;
}

.book_img {
    width: 110px;
    height: 130px;
    margin-left: 10px;
    float: left;
    background-size: cover;
}

.novel_info {
    width: 100%;
    height: 130px;
    padding: 20px 0;
    border-bottom: 1px solid #e5e9ef;
    border-top: 1px solid #e5e9ef;

}

.type_book {
    width: 100%;
    height: 80px;
}

.book_option {
    width: 100%;
    height: 60px;
    float: left;
    border-top: 1px solid #e5e9ef;
}

.content_show {
    width: 96%;
    line-height: 30px;
    float: left;
    margin: 0 2%;
}

.book_option_span {
    width: 50%;
    line-height: 60px;
    float: left;
    text-align: center;
}

.book_option :hover {
    color: #007bff;
}

.introduce_ul {
    width: 96%;
    margin: 0px;
    padding: 0 2% 20px 2%;
    background-color: #fff;
    border: 1px solid #e5e9ef;
}

.introduce_li {
    font-size: 14px;
    margin: 0 1.6%;
    line-height: 40px;
    text-align: left;
    float: left;
    height: 40px;
    color: #4c4c4c;
    overflow: hidden;
}

.introduce_li :hover {
    color: #007bff;
}

.input_info {
    width: 45%;
    float: left;
}

.hair_comment {
    width: 100%;
    line-height: 20px;
    margin: 1vw 0;
    float: left
}

.publish_box {
    margin: 2% 0;
    display: inline-block;
    width: 100%;
}

.reply_box_fixed {
    width: 100%;
    min-height: 280px;
    background-color: #fff;
    position: relative;
    border: 1px solid #e5e9ef;
}

.box_fixed {
    position: relative;
    z-index: 1;
    margin: 0 10%;
    width: 80%;
    background-color: #fff;
}

.reply_box {
    width: 80%;
    padding: 0 10%;
    height: 240px;
    background-color: #fff;
    position: absolute;
    z-index: 100000
}

.article_other {
    width: 100%;
    margin: 20px 0;
    height: 60px;
    background-color: #fff;
}

.article_other_img:hover {
    background-image: url("https://cdn.jsdelivr.net/gh/sxiaoy/css_img/image/hits_hover.png");
}

.article_other_img {
    background-image: url("https://cdn.jsdelivr.net/gh/sxiaoy/css_img/image/hits.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    float: left;
    margin: 10px;
}

.article_other_text {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    float: left;
}

.show_article {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e5e9ef;
    margin-bottom: 20px;
}

.comment {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-bottom: 0px;
    position: relative;
}

.comment_main {
    width: 90%;
    margin: 20px 5% 0;
    border-bottom: 1px solid #e5e9ef;
}

.comment_time {
    color: rgb(153, 162, 170);
    font-size: 12px;
}

.comment_author {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}

.comment_name, .comment_time {
    float: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    margin: 0 !important;
    padding: 0 !important;
}

.comment_info {
    width: 50%;
    height: 60px;
    float: left;
    margin-left: 2%;
    text-align: left;
    overflow: hidden;
}

.comment_reply:hover {
    color: rgb(0, 161, 214);
}

.comment_reply {
    width: 20%;
    height: 60px;
    line-height: 60px;
    float: right;
    color: rgb(153, 162, 170);
    text-align: right;
}

.comment_son {
    width: 70%;
    margin: 20px auto 0;
    border-bottom: 1px solid #e5e9ef;
}

.comment_info_box {
    width: 100%;
    height: 60px;
}

.comment_info_box_son {
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.comment_information {
    width: 80%;
    margin: 20px auto;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px !important;
}

.comment_information_son {
    width: 80%;
    margin: 2% auto 0;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px !important;
}

.paging {
    width: 100%;
}

.article_detailed {
    width: 96%;
    line-height: 30px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
    -webkit-box-orient: vertical;
    margin: 0 2%;
}

.post-title {
    font-size: 20px;
    line-height: 40px;
    margin: 1vw 1vw;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    color: #fff;
    -webkit-box-orient: vertical;
}

.article_describe {
    width: 100%;
    height: 210px;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    background: rgba(0, 123, 255, 0.5);
}

.article {
    width: 100%;
    height: 420px;
    border-radius: 10px;
    margin: 0 0 20px 0;
    border: 1px solid #e5e9ef;
    position: relative;
    background-size: cover;
}

.main_content {
    margin: 58px auto;
    position: relative;
    z-index: 100;
}

.main {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    min-height: 100vh;
    background-color: #f6f6f6;
}

.main::-webkit-scrollbar {
    width: 0 !important;
}

.index_player {
    width: 15vw;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    position: relative;
    height: 680px;
    margin-left: 5%;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.el-menu-demo {
    height: 46px;
    margin: 0 auto !important;
    background-color: transparent;
    border-bottom: 0px !important;
}

.el-menu-demo li {
    line-height: 46px !important;
    height: 46px !important;
    color: #000 !important;
    border-bottom: none !important;
    font-weight: 500 !important;
    padding: 0 2%;
    font-size: 16px;
}

.el-menu-demo li:hover {
    border: 0;
    color: #007bff !important;
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover {
    background: transparent !important;
}
